@charset 'utf-8';

/*------------------------------------*\
  Settings
\*------------------------------------*/
@import 'settings/_colors';
@import 'settings/_media-queries';
@import 'settings/_miscellaneous';
@import 'settings/_typography';
@import 'settings/_z-index';

/*------------------------------------*\
  Reusable
\*------------------------------------*/
@import 'reusable/_mixins';
@import 'reusable/_extends';
@import 'reusable/_form';

/*------------------------------------*\
  Base
\*------------------------------------*/
@import 'base/_reset';
@import 'base/_base';
@import 'base/_defaults';

/*------------------------------------*\
  Globals
\*------------------------------------*/
@import 'globals/_global';

/*------------------------------------*\
  Partials
\*------------------------------------*/
@import 'partials/_site-navbar';
@import 'partials/_site-menu';
@import 'partials/_nav-toggle';
@import 'partials/_nav-menu';
@import 'partials/_round-btn';
@import 'partials/_search-form';
@import 'partials/_up-arrow';
@import 'partials/_social-menu';
@import 'partials/_site-footer';


/*------------------------------------*\
  Layouts
\*------------------------------------*/
@import 'layouts/_page';
@import 'layouts/_posts';
@import 'layouts/_post';
@import 'layouts/_miscellaneous';


/* miscellaneous */
.debug_dump {
    width: 100%;
    margin-top: 45px;
    font-size: 1.5rem;
    background: #e8e8e8;
    padding: 20px;
}

