/*------------------------------------*\
  THEME
\*------------------------------------*/
$primary-color: #328791;


/*------------------------------------*\
  BASE
\*------------------------------------*/
$color-light: #FFF;
$color-dark: #000;


/*------------------------------------*\
  COPY
\*------------------------------------*/
$color-text: #444;
$granite: #282828;

$accent: #00ACEE;
$color-link: lighten($primary-color, 20%);
$color-link-hover: darken($color-link, 8%);
$color-text-gray: #c1c1c1;
$color-soft-gray: #e5e5e5;
$color-border: #f1f1f1;


/*------------------------------------*\
  SOCIAL COLORS
\*------------------------------------*/
$color-twitter: #00ACEE;
$color-facebook: #3B5998;
$color-instagram: #9D7144;
$color-google: #DD4B39;
$color-tumblr: #2C4762;



