<div 
  class="nav-menu <% if defined? classes %><%= classes %><% end %>"
  <% if defined? data %><%= raw data %><% end %>
>
  <!-- arrow -->
  <%= render partial: '/partials/up-arrow', locals: { mod: 'nav-menu' } %>

  <!-- container -->
  <div class="nav-menu__container">
    <%= yield %>
  </div>
</div>