<div 
    class="nav-menu js-ontoggle-target"
    data-ontoggle-target="js-nav-menu"
>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore laudantium, provident iusto, illo facere et expedita, rem reiciendis incidunt sequi neque! Nam eligendi ipsa vitae, iusto culpa voluptatum. Iure, nobis.</p>
</div>