<div class="nav-toggle">
    <a 
        href="#" 
        class="nav-toggle__anchor js-ontoggle-toggler"
        data-ontoggle-target="js-nav-menu"
    >
        <div class="center">
            <div class="center-container">
                <%= yield %>  
            </div>
        </div>
    </a>
</div>