<div 
  class="search-form js-ontoggle-target"
  data-ontoggle-target="js-search-form"
>
  <!-- arrow -->
  <%= render partial: '/partials/up-arrow', locals: { mod: 'search-form' } %>

  <!-- search form -->
  <form class="search-form__form">
    <!-- Text input -->
    <input type="text" class="search-form__query" placeholder="Find your destiny">
    <!-- Form Button -->
    <div class="search-form__btn">
      <input type="submit" class="search-form__submit" value="">
      <%= svg 'magnifier' %>
    </div>
  </form>
</div>