<div 
    class="site-menu js-ontoggle-target"
    data-ontoggle-target="js-site-menu"
>
  <div class="site-menu__content">
    <% @menu.each do |key, array| %>
      <div class="site-menu__block">
          <h3 class="site-menu__block-title"><%= key %></h3>
          <ul class="site-menu__list">
            <% array.each do |item| %>
              <li class="site-menu__list-item">
                <a href="<%= item['url'] %>" class="site-menu__list-anchor" <% if key == 'outbound' %>target="_blank"<% end %> ><%= item['name'] %></a>
              </li>
            <% end %>
          </ul>
      </div>
    <% end %>
  </div>


</div>