<ul class="social-menu <% if defined? verticalAlign %><% if verticalAlign %>mod-vertical<% end %><% end %>">
    <!-- Twitter -->
    <% if defined?(@setting.socialTwitterUrl) %>
    <li class="social-menu__item">
      <a 
        href="<%= @setting.socialTwitterUrl %>" 
        class="social-menu__anchor"
        target="_blank"
      >
        <div class="center mod-vertical">
          <div class="social-menu__icon mod-<%= 'twitter' %>">
            <%= svg 'twitter' %>  
          </div>
          <% if defined? showCopy %>
            <% if showCopy %>
              <div class="social-menu__copy">
                <%= 'twitter' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </a>
    </li>      
    <% end %>
</ul>

