.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    padding-top: 67px;
}

.col {
    width: 100%;
    max-width: 760px;
    padding: 0 20px;
    margin: 0 auto;
}