.page-header {
    width: 100%;
    padding: 40px 0;
    background: $color-link;
}

.page-header__title {
    display: inline-block;
    background: $color-dark;
    color: $color-light;
    padding: 10px 15px;
    font-size: 3rem;
}

.page-content {
    padding: 20px 0;
}