<%= render layout: '/layouts/page-layout', locals: {
  title: "About Henkubao",
  metaTitle: "About"
} do %>

<p>Henkubao is your premiere (and kinda wonky) blog and resource for all things Asian food. So if you like learning about Asian food as much as you enjoy eating it, then you're in the right place!</p>

<p>We also run an <a href="https://forum.henkubao.com/" target="_blank">online community</a> to help connect you with like minded people (Asian food enthusiasts). So if you like discussing Asian food as much you enjoy learning about or eating it, then you should head on over to the official <a href="https://forum.henkubao.com/" target="_blank">Henkubao discussion forum</a>!</p>

<% end %>