<%= render layout: '/layouts/page-layout', locals: {
  title: "Contact Henkubao",
  metaTitle: "Contact"
} do %>

<p>If you notice a bug on our site, have a complaint, or just want to say hi, feel free to contact us at <a href="mailto:henkubao@gmail.com" target="_blank">henkubao@gmail.com</a>.</p>

<p>You can also reach out to us at any one of our social media accounts:</p>

<% end %>