html {
    font-family: $sans;
    font-weight: 400;
}

html, body {
    background: $color-light;
    color: $color-text;
}

body {
    font-size: 2rem;
}

.h2 {
    font-size: 3rem;

    @include breakpoint(smTablet) {
        font-size: 4.2rem;
    }
    @include breakpoint(desktop) {
        font-size: 7rem;
    }
}

a {
    color: $color-link;
    transition: all $speed-transition-1 ease;

    &:hover {
        color: $color-link-hover;
    }
}


p {
    margin-bottom: 20px;
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a {
    letter-spacing: -1px;
    color: $color-dark;
}


.btn {
    border-radius: 5px;
    background: $color-link;
    color: $color-light;
    padding: 10px 20px;
    font-size: 1.5rem;
    text-transform: capitalize;
    outline: none;
    transition: all 250ms ease;

    &:hover {
        cursor: pointer;
        background: $color-link-hover;
    }

    &:focus {

    }
}





