.round-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $link;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    /*box-shadow: 0 2px 12px 0 rgba(100,100,100,0.26);*/

    svg {
        position: relative;
        width: 14px;
        height: 14px;

        path {
            fill: $color-light !important;
        }

        @include breakpoint(tablet) {
            width: 18px;
            height: 18px;
        }
    }

    @include breakpoint(tablet) {
        width: 42px;
        height: 42px;
    }

    &:hover {
        background: $link-hover;
    }
}