.site-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translate3d(100%, 0, 0);
    border-left: 1px solid $color-gray;
    padding: 24px;
    width: 300px;
    padding-top: 72px;
    background: $color-light;
    z-index: $zi-navmenu;

    &.is-visible {
        transform: translate3d(0, 0, 0);
        transition: all 350ms ease;
    }
}