.up-arrow {
    position: absolute;
    width: 32px;
    
    &.mod-search-form {
        top: -16px;
        right: 24px;
    }

    &.mod-nav-menu {
        top: -16px;
        right: 24px;
    }

    svg {
        width: 100%;
        path:first-of-type {
            stroke: $color-border !important;
        }
    }
}